/*-----------------------------------------
    COPYRIGHT
-----------------------------------------*/
.copyright {
	background-color: var(--NeutralThree);
	padding: 0 8px;
	& > .block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		margin-bottom: -5px;
		position: relative;
		padding: 14px 0;
		border-top: 1px solid var(--White);
		@media(--515vp) {
			flex-wrap: wrap;
		}
		& > .block {
			@media(--515vp) {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
		& p, & p a {
			color: var(--WhiteCopy);
			display: inline-block;
			margin: 0;
			font-size: .75rem;
		}
		& nav {
			display: inline-block;
			& ul {
				list-style: none;
				margin: 0;
				padding: 0;
				& li {
					display: inline-block;
					margin: 0 .35rem;
					padding: 0;
					&::before {
						display: none;
					}
					& a {
						color: var(--WhiteCopy);
						font-size: .75rem;
					}
				}
			}
		}
	}
}