/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: .65em 2em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border: 2px solid var(--PrimaryOne);
	background-color: var(--PrimaryOne);
	outline: none;
	color: var(--BlackCopy);
	font-family: var(--HeadCopy);
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: all .25s ease-in-out;
	&:hover, &:focus, &.is-hover {
		background-color: color(var(--PrimaryOne) shade(10%));
		border-color: color(var(--PrimaryOne) shade(10%));
		color: var(--BlackCopy);
	}
	&:active, &.is-active {
		background-color: color(var(--PrimaryOne) shade(15%));
		border-color: color(var(--PrimaryOne) shade(15%));
		color: var(--BlackCopy);
	}
	&.is-secondary {
		border: 2px solid var(--NeutralThree);
		background-color: var(--NeutralThree);
		color: var(--WhiteCopy);
		&:hover, &:focus, &.is-hover {
			background-color: color(var(--NeutralThree) shade(40%));
			border-color: color(var(--NeutralThree) shade(40%));
			color: var(--WhiteCopy);
		}
		&:active, &.is-active {
			background-color: color(var(--NeutralThree) shade(60%));
			border-color: color(var(--NeutralThree) shade(60%));
			color: var(--WhiteCopy);
		}
	}
	&.is-ghost {
		background-color: transparent;
		border: 2px solid var(--PrimaryTwo);
		color: var(--PrimaryTwo);
		&:hover, &:focus, &.is-hover {
			background-color: var(--PrimaryTwo);
			color: var(--WhiteCopy);
		}	
		&:active, &.is-active {
			background-color: color(var(--PrimaryTwo) shade(15%));
			border-color: color(var(--PrimaryTwo) shade(15%));
			color: var(--WhiteCopy);
		}
	}
	&.small {
		padding: 5px 2em;
		font-size: 1rem;
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 35px;
	height: 35px;
	display: inline-block;
	padding: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: var(--PrimaryOne);
	transition: all .25s ease-in-out;
	&:hover, &:focus, &.is-hover {
		background-color: color(var(--PrimaryOne) shade(10%));
	}
	&:active, &.is-active {
		background-color: color(var(--PrimaryOne) shade(15%));
	}
	& svg {
		width: 100%;
		height: auto;
		transition: all .25s ease-in-out;
	}
}