/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {
	background: var(--PrimaryOne);
	padding: 3vw;
	& ul li:before {
		display: none;
	}
}
label {
	display: block;
	font-family: var(--BodyCopy-Bold);
	padding: 0 !important;
}
input {
	font-family: var(--BodyCopy);
	background-color: color( var(--White) alpha(60%) );
  border: 2px solid color( var(--White) alpha(60%) );
	padding: .5em;
  &:focus {
    outline: none;
		border-color: var(--NeutralFour);
  }
}
input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: green;
		border-color: green;
	}
	& + label {
		display: inline-block;
	}
}
input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: green;
		border-color: green;
	}
	& + label {
		display: inline-block;
	}
}
select {
	font-family: var(--BodyCopy);
	background-color: color( var(--White) alpha(60%) );
  border: 2px solid color( var(--White) alpha(60%) );
	padding: .25em !important;
	margin-top: 0 !important;
  &:focus{
    outline: none;
  }
	&.is-activated {
		border-color: green;
	}
}
textarea {
	font-family: var(--BodyCopy);
	background-color: color( var(--White) alpha(60%) );
  border: 2px solid color( var(--White) alpha(60%) );
	padding: .5em;
  &:focus{
    outline: none;
  }
}

/*-----------------------------------------
    GRAVITY FORM OVERRIDES
-----------------------------------------*/
.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}
.gform_wrapper .ginput_container_radio  ul.gfield_radio,
.gform_wrapper .ginput_container_checkbox  ul.gfield_checkbox {
	margin: 0 !important
}
.gform_wrapper .ginput_container_radio  ul.gfield_radio li,
.gform_wrapper .ginput_container_checkbox  ul.gfield_checkbox li {
	margin: 0 8px 0 0 !important;
}
.gform_wrapper .ginput_container_checkbox ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper .ginput_container_radio  ul.gfield_radio li input[type=radio] {
  margin: 0 !important;
	width: 14px !important;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: inherit !important;
}
.gform_wrapper .gfield_error .gfield_label { 
  color: inherit !important; 
}
.gform_wrapper li.gfield.gfield_error { 
  margin-right: 0 !important; 
}
.validation_message { 
  display: none !important; 
}
.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.gform_wrapper li.gfield_error textarea {
  border: none !important;
  border: 2px solid red !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
body .gform_wrapper .top_label div.ginput_container {
  margin-top: .25rem !important;
} 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1 !important;
  min-height: 1rem !important;
}
.gform_footer {
  padding-bottom: 0 !important;
}
.LV_valid_field { 
  border: 2px solid green !important; 
}
.gform_wrapper ul.gform_fields  li.gfield.gf_left_half, 
.gform_wrapper ul.gform_fields  li.gfield.gf_right_half,
.gform_wrapper ul.gform_fields  li.gfield,
.gform_wrapper .gform_footer {
	padding-right: .5em !important;
	padding-left: .5em !important;
	margin-top: .25em !important;
}
.gform_wrapper .gfield_checkbox li label, 
.gform_wrapper .gfield_radio li label {
	max-width: 100% !important;
	margin-right: .25em !important;
}
.gform_wrapper .gfield.gfield_html {
	padding-bottom: 0 !important;
}