/*-----------------------------------------
    CARD WRAPPER
-----------------------------------------*/
.wrapper {
  display: flex;  
  flex-flow: row wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.main {
	flex: 6 0rem;
}
.aside {
	flex: 3;
	@media(--1200vp) {
		width: 100%;
		flex: auto;
	}
}
.main {
	order: 1;
}
.aside-1 {
	order: 2;
}
.aside-1 {
  background: #ebebeb;
}
.alm-reveal {
	display: flex;
  flex-wrap: wrap;
}
.sticky {
	position: sticky;
	top: 119px;
	background: #fefefe;
	padding-top: 1rem;
	margin-top: 0;
	padding-bottom: 1rem;
	display: flex;
  justify-content: center;
	flex-wrap: wrap;
	@media(--1200vp) {
		width: 100%;
	}
	@media(--515vp) {
		top: 109px;
	}
}

/*-----------------------------------------
    CARD CONTAINER
-----------------------------------------*/
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	max-width: 74vw;
	margin: 20px 30px 25px;
	@media(--1200vp) {
		max-width: 80vw;
	}
	&.wide {
		max-width: 80vw;
	}
	h2 {
		width: 82%;
		margin-bottom: 3rem;
		padding-top: 200px;
    margin-top: -200px;
		@media(--1378vp) {
			padding-top: 248px;
    	margin-top: -248px;
		}
		@media(--1200vp) {
			padding-top: 200px;
    	margin-top: -200px;
			width: 96%;
		}
		@media(--1103vp) {
			padding-top: 248px;
    	margin-top: -248px;
		}
		@media(--817vp) {
			padding-top: 230px;
    	margin-top: -230px;
		}
		@media(--556vp) {
			padding-top: 270px;
    	margin-top: -270px;
		}
		&.news-header{
			width: 98%;
			padding-top: 0;
		}
		&#benefits {
			margin-bottom: 1rem;
		}
	}
	h4 {
		width: 82%;
		margin-top: 0;
		margin-bottom: 1rem;
		@media(--1200vp) {
			width: 96%;
		}
	}
	.household-moving & {
		margin: 0 auto 25px auto;
	}
	&.services{
		max-width: 80vw;
		margin: 50px auto 25px auto;
		@media(--1300vp) {
			max-width: 90vw;
		}
	}
	&.tile-container {
		max-width: 97%;
		width: 100%;
	}
}
.card-container-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background: #ebebeb;
	max-width: 30vw;
	margin: 20px auto 25px auto;
	@media(--1200vp) {
		max-width: 80vw;
	}
	&.wide {
		max-width: 80vw;
	}
	h2 {
		width: 100%;
		font-size: 1.4rem;
		margin: 3rem 1.5%;
	}
	.household-moving & {
		margin: 0 auto 25px auto;
	}
	&.services{
		max-width: 80vw;
		margin: 50px auto 25px auto;
		@media(--1300vp) {
			max-width: 90vw;
		}
	}
	&.tile-container {
		max-width: 97%;
		width: 100%;
	}
}

/*-----------------------------------------
    CARD
-----------------------------------------*/
.card {
	width: 47%;
	margin: 0 1.5% 40px 1.5%;
	text-decoration: none;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	@media(--1200vp) {
		width: 47%;
	}
	@media(--768vp) {
		width: 60%;
	}
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	.wide & {
		width: 22%;
		@media(--1200vp) {
			width: 47%;
		}
		@media(--768vp) {
			width: 60%;
		}
		@media(--515vp) {
			width: 100% !important;
			margin: 0 0 2vw 0;
		}
	}
	& h3 {
		margin-top: 0;
		color: var(--BlackCopy);
		text-decoration: none;
		font-size: 1.2rem;
		line-height: 1;
	}
	& p {
		color: var(--BlackCopy);
		text-decoration: none;
		line-height: 1;
		margin: 0.5rem 0;
	}
	& a {
		text-decoration: none;
	}
}
.card-2 {
	width: 100%;
	margin: 0 1.5% 40px 1.5%;
	text-decoration: none;
	display: flex;
  align-items: center;
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	.wide & {
		width: 22%;
		@media(--1200vp) {
			width: 47%;
		}
		@media(--515vp) {
			width: 100% !important;
			margin: 0 0 2vw 0;
		}
	}
	& h3 {
		margin-top: 0;
		color: var(--BlackCopy);
		text-decoration: none;
		font-size: 1.2rem;
		line-height: 1;
	}
	& p {
		color: var(--BlackCopy);
		text-decoration: none;
		line-height: 1;
		margin: 10px 0;
	}
	& a {
		text-decoration: none;
	}
}
.card-3 {
	width: 30.33%;
	margin: 0 1.5% 40px 1.5%;
	text-decoration: none;
	position: relative;
  padding-bottom: 60px;
	@media(--1200vp) {
		width: 47%;
	}
	@media(--768vp) {
		width: 100%;
	}
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	.wide & {
		width: 22%;
		@media(--1200vp) {
			width: 47%;
		}
		@media(--768vp) {
			width: 60%;
		}
		@media(--515vp) {
			width: 100% !important;
			margin: 0 0 2vw 0;
		}
	}
	& h3 {
		margin-top: 1rem;
		color: var(--BlackCopy);
		text-decoration: none;
	}
	& p {
		color: var(--BlackCopy);
		text-decoration: none;
		margin: 24px 0;
	}
	& a {
		text-decoration: none;
	}
	& .button {
		position: absolute;
    bottom: 0;
	}
}

/*-----------------------------------------
    FULL & HALF CARD
-----------------------------------------*/
.full-card {
	width: 97%;
	margin: 0 1.5% 8vw 1.5%;
	display: flex;
	flex-wrap: wrap;
	@media(--1200vp) {
		width: 97%;
		margin: 0 1.5% 8vw 1.5%;
	}
	@media(--768vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
	&:nth-child(even) {
		& .card-image {
			order: 2;
			@media(--768vp) {
				order: 0;
			}
		}
	}
	& .card-image {
		width: 28%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		@media(--515vp) {
			width: 100% !important;
		}
		& img {
			max-width: 100%;
			height: auto;
			@media(--515vp) {
				width: 80% !important;
			}
		}
	}
	& > .block {
		width: 72%;
		@media(--515vp) {
			width: 100% !important;
		}
	}
}
.half-card {
	width: 47%;
	margin: 0 1.5% 8vw 1.5%;
	@media(--515vp) {
		width: 100% !important;
		margin: 0 0 8vw 0;
	}
}

/*-----------------------------------------
    IMAGE CARD
-----------------------------------------*/
.image-card {
	& .card-image {
		width: 20%;
		height: 100px;
		display: flex;
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		@media(--1200vp) {
			width: 14%;
		}
		@media(--768vp) {
			width: 20%;
		}
	}
	& .card-image-2 {
		width: 30%;
		height: 130px;
		display: inline-block;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	& .card-image-3 {
		width: 100%;
		height: 180px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	& a:button:last-of-type {
		margin-right: 0;
	}
}

/*-----------------------------------------
  	CARD INFO
-----------------------------------------*/
.card-info {
	display: inline-block;
	margin: 0 0 0 1rem;
	width: 60%;
}
.card-info-2 {
	display: inline-block;
	margin: 0 0 0 1rem;
	width: 66%;
	@media(--1200vp) {
		vertical-align: top;
	}
}
.news-link {
	text-align: right;
	font-size: 1rem;
}

/*-----------------------------------------
    ICON CARD
-----------------------------------------*/
.icon-card {
	& .card-icon {
		width: 40px;
		height: 40px;
		display: block;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

/*-----------------------------------------
    LINK CARD
-----------------------------------------*/
.link-card {
	& p {
			min-height: 0;
			font-size: 1rem;
			& span {
			text-transform: uppercase;
		}
	}
}

/*-----------------------------------------
    UNDERLINE CARD
-----------------------------------------*/
.underline-card {
	& h3 {
		border-bottom: 2px solid var(--PrimaryTwo);
		padding-bottom: 4px;
	}
}

/*-----------------------------------------
    BACKGROUND CARD
-----------------------------------------*/
.bg-card {
	position: relative;
	padding: 30px 40px;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media(--1024vp) {
		width: 100% !important;
		margin: 0 0 2vw 0;
		min-height: 235px;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color( var(--White) alpha(50%) );
	}
	&:nth-child(2) {
		&::after {
			background-color: var(--PrimaryOne);
		}
		& h3 {
			min-height: 0;
		}
		& form {
			position: relative;
			z-index: 2;
			padding: 0;
		}
	}
	& h3, & .button {
		position: relative;
		z-index: 2;
	}
	& h3 {
		min-height: 105px;
		margin-bottom: 2em;
		@media(--1200vp) {
			min-height: 70px;
		}
		@media(--768vp) {
			min-height: 0;
		}
	}
}

/*-----------------------------------------
    HOME CARD
-----------------------------------------*/
.home {
	& .card-container {
		justify-content: flex-start;
		& .icon-card {
			min-height: 375px;
			padding-bottom: 50px;
			position: relative;
			@media(--515vp) {
				min-height: auto;
				margin-bottom: 3vh;
			}
			& .button-block {
				position: absolute;
				bottom: 0;
				& a.button {
					padding: 8px 14px;
				}
			}
		}
	}
}

/*-----------------------------------------
    LOAD MORE
-----------------------------------------*/
#ajax-load-more {
  width: 100%;
}
#load-more {
	margin: 0 auto;
	display: flex;
}
#load-more.done {
  opacity: 0;
}

/*-----------------------------------------
    OTHER
-----------------------------------------*/
.entry-content p:first-of-type {
	color: var(--NeutralOne);
	font-size: responsive 18px 30px;
	font-range: 420px 1400px;
}