.cta-full {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8vh;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color( var(--White) alpha(50%) );
	}
	&.middle-page {
		margin: 5vh 0 10vh auto;
	}
	& > .block {
		width: 90vw;
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		& *:first-child {
			margin-top: 0;
		}
	}
}