/*-----------------------------------------
    SLICK SLIDERS
-----------------------------------------*/
.slick-slider {
	position: relative;
	& .slick-track {
		display: flex;
	}
	& > svg.slick-arrow {
		fill: var(--PrimaryOne);
		width: 45px;
		height: 45px;
		position: absolute;
		left: 50%;
		bottom: 50px;
		z-index: 2;
		&:first-of-type {
			margin-left: -55px;
		}
		&:last-of-type {
			margin-right: -55px;
		}
	}
}

/*-----------------------------------------
    TESTIMONIES
-----------------------------------------*/
.slider-testimony {
	position: relative;
	background-image: url(../images/testimony-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.home & {
		margin: 5vh 0;
	}
}
.slide-quote {
	height: auto;
	display: flex !important;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color( var(--NeutralThree) alpha(50%) );
	}
	& > .block {
		max-width: 650px;
		width: 80vw;
		position: relative;
		z-index: 2;
	}
	& p, & h3 {
		text-align: center;
		color: var(--WhiteCopy);
		margin: 0 auto 1rem auto;
	}
	& p {
		line-height: 1.75;
	}
}

/*-----------------------------------------
    PARTNERS
-----------------------------------------*/
.slider-logos {
	max-width: 1200px;
	max-width: 90vw;
	margin: 0 auto;
	& .slide-partner {
		padding: 75px 0;
		& img {
			margin: 0 auto;
			max-width: 90%;
		}
	}
}