/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/
.title-section, .home-slide {
	width: 100%;
	background-color: var(--PrimaryTwo);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5vh 0;
	& > .block {
		max-width: 1200px;
		width: 80vw;
		margin: 0 auto;
		@media(--768vp) {
			width: 90vw;
		}
		& .title-container {
			padding: 60px;
			max-width: 600px;
			background-color: color(var(--NeutralFive) alpha(80%));
			background-position: left top 16px;
			background-repeat: no-repeat;
			@media(--768vp) {
				padding: 30px;
			}
			& > h1 {
				margin: 0;
				color: var(--WhiteCopy);
			}
		}
	}
}

/*-----------------------------------------
   HOME PAGE TITLE
-----------------------------------------*/
.home-title {
	padding: 0;
	& .home-slide {
		height: 60vh;
		@media(--768vp) {
			height: 68vh;
		}
		& .block {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
			& h1 {
				color: var(--WhiteCopy);
				margin: 30px 0 0 0;
			}
			& p {
				color: var(--WhiteCopy);
				margin: 1.5rem 0 1.8rem 0;
				font-size: responsive 18px 23px; 
				font-range: 420px 1400px;
			}
			& a.button { 
				margin: 0;
			}
		}
	}
	&.slick-slider > svg.slick-arrow {
		fill: var(--NeutralFive);
		width: 45px;
		height: 45px;
		position: absolute;
		left: auto;
		bottom: 50%;
		margin-top: -23px;
		z-index: 2;
		@media(--768vp) {
			top: 100%;
			margin-top: -50px;
		}
		&:first-of-type {
			margin-left: 1.5vw;
			left: 0;
			@media(--515vp) {
				left: 50%;
				margin-left: -50px;
			}
		}
		&:last-of-type {
			margin-right: 1.5vw;
			right: 0;
			@media(--515vp) {
				right: 50%;
				margin-right: -50px;
			}
		}
	}
}